* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header__content {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 30px 0px;
    /*default: trục chính nằm ngang*/
    /*flex-diraction : thay đổi trục chính*/    
}
header{
    font-size: 10px;
    width: 100%;
    color: black;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
}
header nav{
    display: flex;
    font-size: 20px;
    align-items: center;
}
header nav a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.text__content {
    margin-right: 30px ;
}
a span {
    display: inline-block;
    transition: all 1s;
  }
  a:hover {
    color: #f55f8d;
  }
  a:hover span {
    animation: cuon 0.3s;
  }
  
  @keyframes cuon {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }
.btn-grad{
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
    padding: 20px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    /*   tăng kích thước của màu nền, giúp vùng trải màu rộng hơn làm màu loan ra rộng hơn */
     background-size: 200%;
     color: white;
     box-shadow: 0 0 20px #eee;  
     border: none; 
    
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}
.btn-grad:hover{
    background-position: right center ; 
}
/*PHẦN 1*/
.phan1{
    background-image: url(./Samar/pic2.png);
    position: relative;
    background-position: top;
    background-size: 100%;
    overflow: hidden;
}
.p1{
    display: flex;
    padding-top: 200px;
    width: 100%;
    height: 100%;
}
.p1__title{
    width: 60%;
    flex-shrink: 0;
}
.hinh{
    flex-grow: 1;
}
.p1__title h2{
    color: #f55f8d;
    font-size: 25px;
    margin-bottom: 20px

}
.p1__title h1{
    line-height: 1.5;
    font-size: 70px;
    margin-bottom: 20px;
}
.p1__title p{
    color: grey;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 18px;
}
.p1__title button{
    margin-top: 30px;
}
.check li{
    list-style: none;
    color: gray;
    padding: 5px 0px;
    font-size: 20px;

}
.check i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 50%;
    text-align: center;
    background-size: 200%;
    margin-right: 10px;
}
/*ANIMATE*/
.p1__title.animate__fadeInUp{
    animation-name: fadeInUp;
}
.p1__title.animate__animated.animate__delay-1s{
    animation-delay: 1s;
}
.p1__title.animate__animated.animate__delay-2s{
    animation-delay: 2s;
}
.p1__title.animate__animated.animate__delay-3s{
    animation-delay: 3s;
}
.p1__title.animate__animated.animate__delay-4s{
    animation-delay: 3s;
}
.hinh.animate__animated.animate__delay-3s{
    animation-delay: 3s;
}
/*PHẦN 2*/
.phan2{
    background-image: url(./Samar/bg2.png);
    background-size: 100%;
    overflow: hidden;
    background-position: top;
    background-repeat: no-repeat;
}
.p2{
    padding: 50px 0px;
}
.p2__title{
    text-align: center;
}
.p2__title p{
    color: #f55f8d ;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
}
.p2__title h2{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}
.p2__content{
    display: flex;
    padding: 30px 0px;
}
.overlay{
    width: 33.33%;
    display: block;
    background-color: white;
    text-align: center;
    margin: 0px 20px;
    transform: translateY(0px);
    transition: all .5s;
    border-radius: 10px;
}
.overlay__img img{
    width: 215px;
}
.overlay__content{
    text-align: center;
}
.overlay__content h2{
    margin-bottom: 18px;
}
.overlay__content p{
    margin-bottom: 20px;
    color: gray;
}
.overlay:hover{
    transform: translateY(-40px);
}
/*PHẦN 3*/
.phan3{
    background-image: url(./Samar/bg15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center ;
    padding: 50px 0px;
}
.p3{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}
.p3__img{
    width: 60%;
    position: absolute;
    left: -15%;
}
.p3__img img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.p3__content{
    width: 50%;
}
.p3__content h2{
    color: #f55f8d;
    font-size: 20px;
    margin-bottom: 20px;
}
.p3__content h1{
    font-size: 70px;
    font-weight: 700;
    color: #262626;
    margin-bottom: 20px;
}
.p3__content p{
    color: gray;
    margin-bottom: 10px;
    line-height: 1.5;

}
.p3__content li{
    color: gray;
    line-height: 2;
    list-style: none;
    display: flex;
}
.p3__content i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #f55f8d;
    font-size: 25px;
    margin-right: 10px;
}
.p3__content button{
    margin-top: 30px;
}

/*PHẦN 4*/
.phan4{
    background-image: url(./Samar/bg14.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    padding: 80px 0 50px;
}
.p4{
    display: flex;
    justify-content: space-around;
}
.p4__item{
    width: 25%;
}
.p4__item i{
    display: inline-block;
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%); 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-size: 200%;
    margin-bottom: 15px;
    color: white;
}
.p4__item p:first-of-type{
    font-size: 60px;
    color:#f55f8d;
    font-weight: 900;
    line-height: 1;
}
.p4__item p:last-of-type{
    font-size: 18px;
    color:#262626;
}
/*PHẦN 5*/
.phan5{
    background-image: url(./Samar/bg2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    padding-top: 130px;
    margin-bottom: 0;
}
.p5__all{
    display: flex;
}
.p5__left{
    width: 50%;
}
.p5__right{
    width: 50%;
}
.p5__left p{
    color: #f55f8d;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
    transition: all 1s;
}
.p5__left h1{
    color: #262626;
    font-size: 75px;
    margin-bottom: 30px;
    transition: all 1s;
}
.item{
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: white;
    display: flex;
    border-radius: 20px;
    align-items: center;
    height: 130px;
    margin: 0px 50px 30px 0px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.item:hover .item__icon i{
    color: white;
}
.item .item__icon i{
    font-size: 60px;
    color:#f55f8d;
    line-height: 1;
    transition: all 1s;
}
.item:hover .item__content h2 {
    color: white;
}
.item .item__content h2{
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: all 1s;
    margin-bottom: 10px;
}
.item .item__content span{
    color: gray;
    line-height: 1.5;
    transition: all 1s;
}
.item:hover .item__content span{
    color: white;
}
.item::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%);
    background-size: 200%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
.item:hover::after{
    opacity: 1;
}

.item:nth-of-type(2)/*dùng để chọn những phần tử là phần tử con (thuộc một kiểu nào đó) thứ n của cha nó.*/
{
    margin: 0px 0px 30px 50px;
}
.item__icon{
    z-index: 1;
}
.item__content{
    z-index: 1;
    padding-left: 25px;
}
.p5__img{
    margin-right: -80px;
}
.p5__img img{
    max-width: 100%;
    animation: move2 5s infinite;
}
@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px,2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px,-2px)
    }

    100% {
        transform: rotate(1deg) translate(2px,2px)
    }
}
/*PHẦN 6*/
.phan6{
    padding-top: 115px;
    background-image: url(./Samar/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}
.p6__title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.p6__title h1{
    font-size: 70px;
    line-height: 1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
/*PHẦN 6*/
.p6__grid{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    gap: 35px;
}
.grid__khung{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.grid__khung img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
    z-index: 0;
}
.grid__khung::before{
    content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.grid__khung:hover::before{
    left: 125%;     
}
.grid__khung.khung-1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.grid__khung.khung-6{
    grid-column:1/3 ;
}
.grid__khung.khung-5{
    grid-column:3/4;
    grid-row:2/4 ;
}
.khung__overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    transition: all 0.75s;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
}
.overlay__plus{
    top: 0;
    right: 0;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}
.overlay__title{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    margin-left: 30px;
}
.khung__overlay-rightdown{
    transition: 1s;
    transform: translateY(0px)translateX(0px);
}
.khung__overlay-inup{
    transition: 1s;
    transform: translateY(0px);
}
.grid__khung:hover .khung__overlay-rightdown{
    transform: translateY(20px)translateX(-20px);
}
.grid__khung:hover .khung__overlay-inup{
    transform: translateY(-30px);
}
.grid__khung:hover .khung__overlay{
    opacity: 1;
}
/* PHẦN 7 */
.phan7{
    background-image:url(./Samar/bg16.png) ;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 115px;
}
.p7__title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.p7__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.p7__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}
.p7__item{
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    border-image: 100 round;
    transition: all .5s;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    background-color: #fff;
}
.p7__item img{
    width: 125px;
}
.p7__item h3{
    font-weight: 700;
    color: #262626;
    font-size: 2rem;
}
.p7__item p, .p7__item li{
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}
.p7__item span{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
.p7__item ul{
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
}
.p7__item li{
    padding: 5px 0px;
    font-weight: 400;
    list-style: none;
}
.p7__item li i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}
.p7__item:hover{
    border-image: url(./Samar/br.png) 1 round;
}
/* PHẦN 8 */
.phan8{
    text-align: center;
    background-image: url(../img/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
    position: relative;
}
.testimonial__title p{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 20px;
}
.testimonial__title h1{
    font-size: 60px;
    color: #262626;
    margin-bottom: 20px;
}
.testimonial__content{
    max-width: 1199px;
    margin: auto;
    text-align: center;
}
.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
  }
  
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    overflow: hidden;
    position: relative;
  }
  .testimonial-thumbs::after, .testimonial-thumbs::before{
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
  }
  .testimonial-thumbs::after{
    right: 0;
    background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%);
  }
  .testimonial-thumbs::before{
    left: 0;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
 .testimonial-text h2{
    color: black;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 5px;
    text-align: center;
 }
 .testimonial-text span{
    color: #f55f8d;
    font-size: 20px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    font-style: italic;
 }
 .testimonial-text p{
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding:30px 15px 15px;
    line-height: 1.5;
    color: gray;
 }
 .testimonial-text i{
    top: 10px;
    left: 30px;
    position: absolute;
    text-align: left;
    font-size: 70px;
    color: #f55f8d;
 }
 .swiper-pagination{
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    cursor: pointer;
    z-index: 10;
 }
 .swiper-pagination-bullet-active{
    background: #f55f8d;
 }
 .testimonial-pic::after, .testimonial-pic::before{
    content: "";
    background-color:#f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
 }
 .testimonial-pic::before{
    width: 15px;
    height: 15px;
    bottom: 30px;
 }
 .testimonial-pic::after{
    width: 10px;
    height: 10px;
    bottom: 10px;
 }
 .swiper-slide-thumb-active .testimonial-pic::after, .swiper-slide-thumb-active .testimonial-pic::before{
    opacity: 1;
    /* Hiện lên đối với active */
 }
 .testimonial-pic .shape-bx{
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
 }
 .testimonial-pic .shape-bx::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./Samar/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
 }
 .swiper-slide-thumb-active .testimonial-pic .shape-bx{
    opacity: 1;
    /* Hiện lên đối với active */
 }
 
/* PHẦN 9 */
.phan9{
    background-image: url(./Samar/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 115px;
}
.p9__title p{
    font-size: 20px;
    font-weight: 900;
    color: #f55f8d;
    margin-bottom: 20px;
}
.p9__title h1{
    font-size: 60px;
    color: #262626;
    margin-bottom: 20px;
}
.items{
    background: rgba(245,95,141,.1);
    border-radius: 10px;
}
.items .items__header{
    width: 100%;
    display: block;
    position: relative;
}
.items .items__header img{
    width: 100%;
    border-radius: 10px;
}
.items .items__header p{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    left: 15px;
    bottom: -20px;
}
.items .items__body{
    padding: 20px;
    text-align: left;
    margin-bottom: 10px;
}
.items .items__body h3{
    font-size: 25px;
    line-height: 1.5;
}
.items .items__body p{
    line-height: 1.5;
    color: gray;
}
.items .items__footer{
    display: flex;
    padding: 10px;
    font-size: 14px;
    align-items: center;
    font-weight: 400;
    color: gray;
    border-top: 1px solid rgba(0,0,0,.05);
}
.items__footer p:first-of-type span{
    color: #f55f8d;
}
.items__footer p:first-of-type{
    margin-right: 20px;
}
.items__footer i{
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
/* footer */
footer{
    background-image: url(./Samar/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}
.footerall{
    max-width: 1200px;
    margin: auto;
}
footer::before{
    content: "";
    background-image: url(./Samar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer__top{
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer__text{
    width: 50%;
}
.footer__form{
    width: 50%;
}
.footer__text h2{
    font-size: 28px;
    color: #262626;
}
.footer__form input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
    padding-right: 0;
    border-right: 0;
    flex-shrink: 0;
    width: 70%;
}
.footer__form button {
    flex-grow: 1;
    padding: 20px 35px;
    font-size: 15px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}
.footer__form input:hover{
    border-color: #f55f8d;
}
.footer__form button:hover {
    background-position: right center;
  }
  
.footer__form  button:hover i {
    animation: toLeftFromRight 0.5s forwards;
    display: inline-block;
  }
  @keyframes toLeftFromRight{
    49% {
      transform: translateX(100%);
    }
    50% {
      opacity: 0;
      transform: translateX(-100%);
    }
    51% {
      opacity: 1;
    }
  }
  
.footer__bottom{
    display: flex;
    padding: 70px 0;
    position: relative;
}
.footer__item {
    width: 25%;
}
.footer__contact li i{
    color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}

.footer__contact li{
    display: flex;
    padding: 10px 0px;
}
.footer__contact span{
    font-size: 16px;
    line-height: 1.5;
}
.footer__item li{
    list-style: none;
    font-size: 16px;
    padding: 15px 0px;
}
.footer__item a{
    text-decoration: none;
    color: #636363;
    transition: 0.5s;
   
}
.footer__item h3{
    margin-bottom: 20px;
    font-size: 25px;
    transition: all .5s;
    position: relative;
    padding-bottom: 10px;
}
.footer__item i{
    margin-right: 10px;
    color: #636363;
    transition: 0.5s;
}
.footer__item li:hover i,li:hover a{
    color: #eee;
    transition: 0.5s;
}
.footer__item h3::after, .footer__item h3::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer__item h3::after{
    width: 45px;
    left: 20px;
}
.footer__item h3::before{
    width: 15px;
}
.footer__copyright{
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}
.footer__content{
    display: flex;
    justify-content: space-between;
}
.footer__left span{
    color: #f55f8d;
}
.footer__right a{
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
}
.footer__right a:hover {
    background: #f55f8d;
}
/* up */
.nut{
    background: #f55f8d;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 10px;
    align-items: center;
    box-shadow: -4px 4px 24px -10px #f55f8d;

}
.nut i{ 
    font-size: 20px;
    color: #eee;
}
